body {
    margin: 0;
}

#search {
    width: 100%;
    max-width: 500px;
    display: block;
    height: 2em;
    margin: auto;
    color: grey;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(4);
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    height: 100vh;
}


